#carousel-header {
    position : relative ;
    .carousel-item {
        height: 85vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    #overlay-front {
        position : absolute ;
        width: 100% ;
        height: 100% ;
        left : 0 ;
        top : 0 ;
        right : 0 ;
        background : rgba(255,255,255,0.8);
        display : flex ;
        flex-direction: column ;
        justify-content: center ;

        .content-header {
            margin : auto ;
            height : 75%;
            display : flex ;
            flex-direction: column ;
            justify-content: center ;
            .titre { @include titre-rb(); }
            .sous-titre {
                @include sous-titre-ds($grey);
                font-weight: bold ;
            }
            .button-box { margin-top : 0.5em ;}
            .button:nth-child(1) button { @include button-primary(); }
            .button:nth-child(2) button {
                @include button-secondary();
                margin-left: 15px ;
            }
        }
    }

}
