.col-md-4.wp-bp-sidebar-width ,
nav.woocommerce-breadcrumb ,
.woocommerce-products-header { display: none ; }

@mixin button-woo() {
    @include button-primary();
    box-shadow : none ;
    font-size : 1em ;
    width : 100% ;
    margin : 0 ;
    padding : 15px 5px ;
    border-radius : 0px ;
    &:hover { transform : none ; }
    .button-content {
        display :flex ;
        justify-content : space-around ;
        p.text-button {
            margin : 0 ;
            font-size : 1.3em ;
            line-height : 1.3em ; }
        .quantity-picker {
            background : $white ;
            color : $green ;
            border-radius : 5px ;
            width : 20%;
            margin :0 ;
            display : flex ;
            justify-content : center ;
            padding : 0 ;
            .quantity-number {
                    white-space: nowrap ;
                    min-width: 50% ;
                    vertical-align : middle;
                    font-size : 1.3em ;  }
            .quantity-buttons {
                width: 50% ;
                display : flex ;
                flex-direction : column ;
                span {
                    line-height : 1em ;
                    font-size : 1em ;
                    padding: 0 ;
                    margin : 0 ;
                }
            }
        }
    }
}

#checkout-cart,
#supplement-upsale ,
#custom-shop {
    .center-flex {
        padding-bottom : 2.5em ;
        padding-top : 2.5em ;
        display : flex;
        flex-wrap: wrap  ;
        //justify-content : center ;

        .custom-product-card { max-width : calc(25% - 11px); }
        @media only screen and (max-width : $media-sm) {
            .custom-product-card { max-width : calc( 50% - 11px ) ; } }
        @media only screen and (max-width : $media-md) {
            .custom-product-card { max-width : calc(100% - 11px ); } }

        .custom-product-card {
            box-sizing: margin-box;
            border : none ;
            margin : 5px ;
            //border : $green solid 5px  ;
            //border-radius : 5px;
            position : relative ;
            .card-body { padding : 0 ;}
            a:not(.link-unstyled) { width : 100% ; @include button-primary(); }
            button { @include button-woo(); }
        }
    }
    .overlay {
        left: 0;
        top: 0;
        background : red ;
        width: 100%;
        height: 100%;
        position: fixed;

        .overlay__inner {
            background: $white ;
            opacity : .5 ;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .overlay__content {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .spinner {
            width: 75px;
            height: 75px;
            display: inline-block;
            border-width: 6px;
            border-color: rgba(255, 255, 255, 0.05);
            border-top-color: $secondary;
            animation: spin 1s infinite linear;
            border-radius: 100%;
            border-style: solid;
        }

        }
    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }

}

.woocommerce-info { margin-top : 25px ;}
.woocommerce-pagination a,
.woocommerce-pagination span { @include button-primary(); font-weight : lighter; }
.woocommerce-pagination span { color : $white !important ; font-weight: bold !important ; }
.woocommerce-pagination { margin-top : 20px ; width : 100% ;}
span.onsale { display : none !important ;}




//this one is for the single product page


.product-template-default {
    .wp-bp-content-width {
        width : 100%;
        min-width : 100%;
    }

    h1.product_title.entry-title {
        margin-top :2em ;
        @include titre-ds($green);
        font-size : 2.5em  !important;
        margin-bottom : 0 ;
    }

    p.price { font-size : 22px  !important; }
    .woocommerce-Price-amount.amount {
            text-decoration-color: transparent !important ;
    }
    .entry-summary {
        @include sous-titre-ds($grey);
        button.go-cart {
            @include button-secondary();
            font-size : 16px ;
            height : 100%;
            @media only screen and (max-width : $media-sm) {
                margin-top : 16px ;
                width : 100%;
            }
        }
        button.qty-btn {
            @include button-woo() ;
            @include button-primary();
            font-size : 16px ;
            width : 300px ;
            border-radius: 5px ;
            .quantity-number {
                    min-width: 60% ;
                    height : 100%;
                    vertical-align : middle;
                    line-height : 32px ; }
        }
    }
    @media only screen and (max-width : $media-sm) {
        .entry-summary { margin-top : 0 ;
            font-size : 1.3em ;
            button.qty-btn { width : 100%  !important; }
        }
    }
    //after the initial desc
    .product_meta { display: none ; }
    ul.tabs.wc-tabs { display : none ; }
    #tab-description h2 { display : none ; }
    #tab-description p { @include sous-titre-ds($grey); margin-top : 2em ; }
    #tab-description { padding : 0 ; border  : none ; }
    section.related.products , form.cart { display : none  !important ;}
    #supplement-upsale {
        .center-flex { padding-top : 0; }
        .center-flex.supplement { margin-bottom : 2em ; }
        h1 {@include titre-rb();}
    }
    .overlay {
        left: 0;
        top: 0;
        background : $white ;
        opacity : .5;
        width: 100%;
        height: 100%;
        position: fixed;

        .overlay__inner {
            background: $white ;
            opacity : .5 ;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .overlay__content {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .spinner {
            width: 75px;
            height: 75px;
            display: inline-block;
            border-width: 6px;
            border-color: rgba(255, 255, 255, 0.05);
            border-top-color: $secondary;
            animation: spin 1s infinite linear;
            border-radius: 100%;
            border-style: solid;
        }

        }
    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
}




//this is the part for the cart
.woocommerce-checkout {
    .wp-bp-content-width {
        width : 100%;
        min-width : 100%;
    }

    h2.woocommerce-order-details__title ,
    h3#order_review_heading ,
    .woocommerce-billing-fields h3 ,
    H1.entry-title.h2 {
        @include titre-rb();
        margin: 20px auto ;
    }

    .center-flex { padding-top : 0  !important ;}

    #main > article { border : none ; }
    .custom-product-card {
        overflow: hidden ;
        .remove-hover {
            background : $secondary ;
            color : $text-secondary;
            opacity : 0;
            height : 70px;
            width : 70px ;
            display : flex ;
            justify-content:  flex-end ;
            align-items:flex-end ;
            border-radius : 45px ;
            position:  absolute ;
            top : -20px ;
            left : -20px  ;
            padding :20px ;
            z-index : 99;
            font-size  :1.3em ;
            transition : opacity .3s ease-in ;
        }
        @media only screen and (max-width : $media-md ) {
            .remove-hover {
                opacity : .9;
            }
        }

        &:hover {
            .remove-hover {
                opacity : .9;
                cursor : pointer ;
            }
        }
    }
    #customer_details {
        display : flex ;
        flex-wrap: wrap ;
    label { display : none ; }
    }
    .woocommerce-cart-form { display : none ;}
    .col-1 .col-2 , { padding : 0 ; }
    .col-1, .col-2, .woocommerce-billing-fields h3 {
        min-width : 100% ;
        display : flex;
    }
    .cart-subtotal ,
    .woocommerce-shipping-totals.shipping,
    .wc_payment_methods ,

    .woocommerce-billing-fields__field-wrapper,
    .woocommerce-additional-fields,
    .woocommerce-billing-fields,
    .form-row,
    input,
    span,
    textarea { width : 100% ; }

    .woocommerce-additional-fields__field-wrapper ,
    .woocommerce-billing-fields__field-wrapper {
        display : flex ;
        flex-wrap : wrap ;
        flex-direction : row ;
        justify-content : space-between;
        @media only screen and (min-width : $media-md ) {
            #order_comments_field,
            p { flex: 2 0 auto;  width : 100%; }
            #billing_postcode_field ,
            #billing_city_field ,
            #billing_first_name_field ,
            #billing_last_name_field {
                max-width : 50% ;
                //flex: 1 0 auto;
                box-sizing: border-box !important;
            }
        }
    }

    input,
    textarea {
        box-sizing: border-box !important;
        border : solid $grey 5px ;
        border-radius: 5px ;
        outline-color : $green;
        @include sous-titre-ds($green);
        font-size : 20px ;
        &:hover { border : solid $green 5px ; }
    }

    textarea:not(:placeholder-shown) ,
    input:not(:placeholder-shown) { border-color: $green; }


    input:focus,
    textarea:focus{ box-shadow : 0 0 0 0.2rem rgba(0,158,0, 0.25); }

    a { text-decoration: none ; }

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;

    .wc_payment_method,
    #billing_company_field ,
    #shipping_company_field ,
    #billing_country_field,
    #shipping_country_field { display : none ;}


    input[type="checkbox"] {
        background-color :  red;
        height : 20px;
        width : 20px;
        color : $green ;
    }

    .woocommerce-terms-and-conditions-checkbox-text,
    .woocommerce-privacy-policy-text {
        @include sous-titre-ds($grey);
        a.woocommerce-terms-and-conditions-link { color :$secondary ; }
        a { color :$secondary ; }
        font-size : 16px ;
        width: 50%;
        @media only screen and ( max-width : $media-sm ) {
            width: 100%;
        }
    }

    button#place_order {
        @include button-primary();
        &:hover { background-color : $green !important ; }
        @media only screen and ( max-width : $media-sm ) {
            margin : auto ;
        }

    }


    .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address,
    footer.entry-footer { display : none ;}
}


.error404 {
    #content {
        display: flex ;
        justify-content : center ;
        //text-align : center ;
        min-height : 60vh ;
        width : 100%; }
    .page-wrapper {
        border-left : 5px solid $green ;
        padding-left : 25px ;
        padding-top : 25px ;
        padding-bottom : 25px ;
        margin : auto ;
    }
    h2 { @include titre-rb();}
    p { @include sous-titre-rb($secondary);}
    a.home_link { @include button-secondary(); }

}
